# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/
*.spec

# Virtual environment
venv/
.env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Modelos e dados
*.pkl
*.csv
data/

# Sistema
.DS_Store
Thumbs.db
